@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
       url('OpenSans-Regular.ttf') format('truetype'),
       url('OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-VariableFont_wdth,wght';
  src: url('OpenSans-VariableFont_wdth,wght.eot');
  src: url('OpenSans-VariableFont_wdth,wght.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

