@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('fonts/OpenSans-VariableFont_wdth,wght.woff2') format('woff2'),
       url('fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.alarm {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}